<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="FacebookAppId" value="133897550467395"/>
  <add key="FacebookAppSecret" value="3a81ceac552caac6c380be6cec18707d"/>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
</appSettings>